<%- include('partials/_header') -%>

<body>
    <div class="tm-page-wrap mx-auto">
        <div class="position-relative">
            <%- include('partials/_navbar') -%>
            <div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
                <div class="text-center">
                    <p class="pt-5 px-3 tm-welcome-text tm-welcome-text-2 mb-1 mt-lg-0 mt-5 text-white mx-auto">
                        Talk to Us<br>about any question you have
                    </p>
                </div>
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
        </div>

        <!-- Page content -->
        <main>
            <div class="container-fluid px-0">
                <div class="mx-auto tm-content-container">
                    <div class="row mt-3 pb-3">
                        <div class="col-12">
                            <div class="mx-auto tm-about-text-container px-3">
                                <h2 class="tm-page-title mb-4 tm-text-primary">Add a new photo</h2>
                                <p class="mb-4">
                                    Integer sit amet odio id libero tincidunt dignissim in eget arcu. Aliquam tristique
                                    ut magna sit amet tincidunt. Sed tempor tellus nulla, molestie luctus lectus
                                    tincidunt id. You are <u>not allowed</u> to re-distribute the template ZIP file on
                                    any template collection website.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto pb-3 tm-about-text-container">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <form method="POST" action="/photos" class="tm-contact-form"
                                    encType="multipart/form-data">
                                    <div class="form-group">
                                        <input type="text" name="title" class="form-control rounded-0"
                                            placeholder="Name" required />
                                    </div>
                                    <div class="form-group">
                                        <textarea name="description" rows="8" class="form-control rounded-0"
                                            placeholder="Photo description" required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="image" id="" class="form-control-file rounded-0">
                                    </div>

                                    <div class="form-group mb-0">
                                        <button type="submit"
                                            class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </main>

        <div class="container-fluid tm-content-container mx-auto pt-5">
            <%- include('partials/_footer') -%>
            <script src="js/parallax.min.js"></script>
</body>

</html>